<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />

	<application>
		<receiver
			android:name="com.example.wallpaper.service.WallpaperRestoreReceiver"
			android:directBootAware="true"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
				<action android:name="android.intent.action.USER_UNLOCKED" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
